/week7-week7_04.ThingSuitcaseAndContainer/build/
/week7-week7_05.Nicknames/build/
/week7-week7_06.PromissoryNote/build/
/week7-week7_07.Dictionary/build/
/week7-week7_08.Airport/build/
/week8-week8_09.CarRegistrationCentre/nbproject/private/
/week8-week8_09.CarRegistrationCentre/build/
/week8-week8_10.NationalService/nbproject/private/
/week8-week8_11.BoxesAndThings/nbproject/private/
/week8-week8_11.BoxesAndThings/build/
/week8-week8_12.OnlineShop/nbproject/private/
/week8-week8_12.OnlineShop/build/
/week8-week8_13.RichFirstPoorLast/nbproject/private/
/week8-week8_13.RichFirstPoorLast/build/
/week8-week8_14.StudentsSortedByName/nbproject/private/
/week8-week8_14.StudentsSortedByName/build/
/week8-week8_15.SortedCards/nbproject/private/
/week8-week8_15.SortedCards/build/