/week7-week7_04.ThingSuitcaseAndContainer/build/
/week7-week7_05.Nicknames/build/
/week7-week7_06.PromissoryNote/build/
/week7-week7_07.Dictionary/build/
/week7-week7_08.Airport/build/
/week8-week8_09.CarRegistrationCentre/nbproject/private/
/week8-week8_09.CarRegistrationCentre/build/