/week7-week7_04.ThingSuitcaseAndContainer/build/
/week7-week7_05.Nicknames/build/
/week7-week7_06.PromissoryNote/build/
/week7-week7_07.Dictionary/build/
/week7-week7_08.Airport/build/
/week8-week8_09.CarRegistrationCentre/nbproject/private/
/week8-week8_09.CarRegistrationCentre/build/
/week8-week8_10.NationalService/nbproject/private/
/week8-week8_11.BoxesAndThings/nbproject/private/
/week8-week8_11.BoxesAndThings/build/
/week8-week8_12.OnlineShop/nbproject/private/
/week8-week8_12.OnlineShop/build/
/week8-week8_13.RichFirstPoorLast/nbproject/private/
/week8-week8_13.RichFirstPoorLast/build/
/week8-week8_14.StudentsSortedByName/nbproject/private/
/week8-week8_14.StudentsSortedByName/build/
/week8-week8_15.SortedCards/nbproject/private/
/week8-week8_15.SortedCards/build/
/week8-week8_16.SkiJumping/nbproject/private/
/week8-week8_16.SkiJumping/build/
/week9-week9_17.FirstPackages/nbproject/private/
/week9-week9_17.FirstPackages/build/
/week9-week9_19.MethodArgumentValidation/nbproject/private/
/week9-week9_19.MethodArgumentValidation/build/
/week9-week9_20.SensorsAndTemperatureMeasurement/nbproject/private/
/week9-week9_20.SensorsAndTemperatureMeasurement/build/
/week9-week9_20.SensorsAndTemperatureMeasurement/dist/
/week9-week9_21.Printer/nbproject/private/
/week9-week9_21.Printer/build/
/week9-week9_22.FileAnalysis/nbproject/private/
/week9-week9_22.FileAnalysis/build/
/week9-week9_22.FileAnalysis/dist/
/week9-week9_23.WordInspection/nbproject/private/
/week9-week9_24.MultipleEntryDictionary/nbproject/private/
/week9-week9_24.MultipleEntryDictionary/build/
/week9-week9_25.DuplicateRemover/nbproject/private/
/week9-week9_25.DuplicateRemover/build/
/week9-week9_26.PhoneSearch/nbproject/private/
/week9-week9_26.PhoneSearch/build/
/week9-week9_26.PhoneSearch/dist/